# Ignore node_modules
node_modules/

# Ignore package-lock.json (optional, not recommended)
server/package-lock.json

# Ignore environment variables
.env

# Ignore logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore build files
dist/
build/

# Ignore editor/OS-specific files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
